<div class="row">
  <h1>Some Answers</h1>
  <br/>
  <ul>
      <li><b>What does the ArtJump grant cover?</b><br/>
      <p>The 2019 ArtJump grants are designed to specifically cover a fixed amount of transportation costs for existing
          art pieces. The grants will allow artists that will take their existing art on tour through Europe so that more
        people can enjoy it.
      </p>
      <p>This year we plan to fund at least 2 existing art project's travel costs to Burning Man inspired events in Europe.
          For the future, we dream not only of funding more projects, but to build bridges between local communities and
          remarkable artists, as well as to fund new art.
      </p>
        <p>The grant must be spent in within one year of being granted.</p>

      <li><b>How many art grants will be funded in 2019?</b><br/>
      In 2019 we will have 2 grants up to 2500 euros each. They will be awarded by an international jury panel.<br/><br/>
      </li>

      <li><b>Who’s the jury?</b><br/>
      The jury panel (consisting of Burning Man-related individuals) will choose the grants.<br/>


      <br/><br/>


      <li><b>Who can apply?</b><br/>
      Anyone who meets the following parameters (including performance art):
      The art  MUST be an existing art piece (including performances). <br/>

      The art must already be in Europe.<br/>
      The art must participate at Where the Sheep Sleep (27th of June until 1st of July 2019).
      The art must be participatory. We are defining participatory as at least a few of the following:<br/>
      <ul class="bullet-list">
          <li>Art that is interactive.</li>
          <li>Art that prompts the viewer to act.</li>
          <li>Art that can be experienced in more ways than visually.</li>
          <li>Art that prompts people to interact with one another.</li>
          <li>Art that responds to participants and its environment.</li>
          <li>Art that causes people to reflect on the larger community.</li>
          <li>Art that challenges the viewers’ traditional perspective on art.</li>
          <li>Art that belongs to the public and exists for the benefit of all.</li>
    </ul>
        <br/><br/>

        To receive the art grant, the artist must define which events you would like to
          bring your art. You may submit up to three events with in 2019 (including Where The Sheep Sleep). <br/><br/>

          You must have a practical transportation plan to and from the events (Upon registering you can download a template).
          Remember, these are leave-no-trace events.
          Shipping, events tickets, any insurance and any other art-related logistics are the artists’ own
          responsibilities. ArtJump grants only cover transportation costs.<br/><br/>
      </li>

      <li><b>How to apply?</b><br/>
      To apply for a grant, you must submit pictures and a written description of your
          interactive or participatory art and a description of your transportation plan
          to and from the event. Please note: you are responsible for securing your
          own entrance ticket to each event you plan on attending with your art. You
          can register <a href="/users/sign_up">here</a> to create a user account and
          then create a proposal <a href="/dreams/new">here</a>.

          <br/><br/>
          Please submit up to three pictures of your art once the proposal is created
          by editing your proposal on <a href="/me">your personal page</a> by clicking
          the 'Manage Images' button.
          <br/><br/>

      </li>

      <li><b>What’s the deadline for registering?</b><br/>
      Applications are due March 20, 2019 at 11:00 (GMT+1). <br/><br/>
      </li>

      <li><b>When will I know if I receive a grant?</b><br/>
      Grants awardees will be announced at the <a href="http://burningman.nl/art-jump/">Spring Gathering</a> on Sunday
        7th of April 2019. <br/><br/>
      </li>

      <li><b>When will I receive my grant?</b><br/>
      Actual funds will be paid as reimbursements once the art has been set up at your chosen event(s). <br/><br/>
      </li>

  </ul>
</div>