<div class="row">
  <h1>Some Answers</h1>
  <br/>
  <ul>
      <li><b>What does the ArtJump -grant cover?</b><br/>
      <p>The 2017 ArtJump grants are designed to specifically cover a fixed amount of transportation costs for existing art pieces.The grants will go towards artists that will take their art on tour through (their selection of happenings) in Europe.
      </p>
      <p>This year we plan to fund at least 3 existing art projects to Burning Man inspired events in Europe. For the future we dream of not only more exchanges, but to build bridges to local communities and the default world, as well as to fund new art.
      </p>

      <li><b>How many Art grants will be funded?</b><br/>
      In 2017 we will have a minimum of 3 grants. Two will be awarded by an international jury panel and the third grant will be awarded through people’s choice.<br/><br/>
      </li>

      <li><b>Who’s the jury?</b><br/>
      The jury panel (consisting of Burning Man related individuals) will choose 2 of the grants.<br/>
      1 grant for fixed sum up to 2500 Euro<br/>
      1 grant for fixed sum up to 1250 Euro<br/><br/>

      One grant will be reserved for the people's choice, worth 1250<br/><br/>


      <li><b>Can I receive two grants (one jury and one people’s choice)?</b><br/>
      As we like to ripple the water as much as we can, the people's choice grant goes to an artist not picked by the jurors.<br/><br/>

      <li><b>Who can apply?</b><br/>
      Anyone with art  (including performances) can apply.<br/>
      But there are parameters for art participation:<br/>
      It MUST be an existing art piece (including performances). <br/>

      The art must already be in Europe.<br/>
      The art must be participatory. We are defining participatory as at least a few of the following:<br/>
      <ul>
          <li>Art that is interactive.</li>
          <li>Art that prompts the viewer to act.</li>
          <li>Art that can be experienced in more ways than visually.</li>
          <li>Art that prompts people to interact with one another.</li>
          <li>Art that responds to participants and its environment.</li>
          <li>Art that causes people to reflect on the larger community.</li>
          <li>Art that challenges the viewers’ traditional perspective on art.</li>
          <li>Art that belongs to the public and exists for the benefit of all.</li>
    </ul>
          To receive the art grant, the artist must define which events (max 3 within one year/2017) you would like to bring your art to.<br/><br/>

          You must have a practical transportation plan to and from the event(s). Remember, these are leave-no-trace events.
              Shipping, events tickets, any insurance and any other art-related logistics are the artists’ own responsibilities.<br/><br/>
      </li>

      <li><b>How to apply?</b><br/>
      To apply for a grant, you must submit pictures and a written description of your interactive or participatory art and description of your transportation plan to and from the event. Please note: you are responsible for securing your own entrance ticket to each event you plan on attending with your art. You can register <a href="/users/sign_up">here</a>
          <br/><br/>
      </li>

      <li><b>What’s the deadline for registering?</b><br/>
      Applications are due March 15, 2017 at 11:00 (GMT+1). <br/><br/>
      </li>

      <li><b>When will I know if I receive a grant?</b><br/>
      Grants awardees will be announced at the Art Jump Gathering on April 1, 2017. <br/><br/>
      </li>

      <li><b>When will I receive my grant?</b><br/>
      Actual funds will be paid as reimbursements once the art has been set up at your chosen event(s). <br/><br/>
      </li>

      <li><b>How funds are gathered?</b><br/>
      To gather the funds so that we can spread our Burn Art love through Europe, an online auction is organized. Please click here for more information on the auction
          <br/><br/>
      </li>

  </ul>
</div>