<div class="row info">
  <br/>
  <b>Be a Burning Man Netherlands Local Contact!</b>
  <p>Burning Man Netherlands is looking for enthusiastic community members to volunteer
    and become a Local Contact.</p>

  <b>Burning Man Netherlands’ Mission and Vision</b>
  <p>In our mission and ever-growing ambition to facilitate and expand the culture that finds its
    roots in the Burning Man Principles, Burning Man Netherlands is looking for eager community
    members to participate as a Local Contact (“LC”).
  </p>

  <p>It’s our vision to bring experiences to people in grand, inspiring and joyful ways that lift
    the human spirit, address social problems and inspire a sense of culture, community and cultural
    engagement by expanding the Burning Man ethos in the Netherlands and facilitating Where the Sheep
    Sleep in the summer season, the Dutch Decompression in the fall and enlarging cultural engagement
    through ArtJump and supporting many smaller get-togethers like local Burning pubs and Town hall
    meetings. In 2019 we see a community more diverse, committed and vibrant, which cannot wait to
    participate and expand the Burning Man culture.
  </p>

  <b>Local Contacts’ Role</b>
  <p>In order to welcome more interest and facilitate initiatives, the Burning Man Netherlands community
    is looking for five Local Contacts who are active and visible participants, who will represent our
    Programs (Art, Culture, Civic Involvement and Education). The LCs will connect to a growing community
    and provide additional expertise to enable the Burning Man community to flourish.</p>

  <p>
  In close communications with engaged community members in Think Tanks and Town hall meetings, the role
    and purpose of these local contacts have been determined.
    <p>
  <ol>
    <li> Communicate and maintain a relationship with the Burning Man NL community.</li>
    <li> Foster the Burning man NL community -- help it to grow and express itself, help
      spread Burning Man culture to the Netherlands.</li>
    <li> Act as a liaison between BMNL Board and the community.</li>
    <li>  To introduce and stimulate projects and inspiring initiatives that fit with the program
      areas (Art, Culture, Civic Involvement and/or education.</li>
    <li>  Propose projects and initiative for funding</li>
    <li> Introduce new LCs, community- and/or event- and project leads within the NL community.</li>
  </ol>
  <br/>

  <b>The Process</b>
  <p>The process of becoming a LC is open to everyone but, considering the essential role that needs
    to be fulfilled, certain requirements must be met:</p>
  <ol>
    <li> Strong leadership skills (To read about which values, in leadership the Burning Man NL
      organization seeks, go to: “link“)</li>
    <li> Actively participate in and attend at least three Burning Man (inspired) events
      (either regional or international)</li>
    <li> Actively participate in and attend at least two of the last three Burning Man Netherlands events.
    <li> Demonstrate a clear understanding of the 10 principles.</li>
    <li> Participate in Burning Man NL events in such a way that clearly demonstrates a deep commitment
      to Burning Man's 10 principles and Burning Man's NL mission and vision.</li>
  </ol>
  <br/>

  <b>Program Areas</b>
  <p>Burning Man Netherlands has described 4 interconnected program areas at which extra support and
    development is desired:</p>
  <ol>
    <li> Art</li>
    <li> Culture</li>
    <li> Civic involvement</li>
    <li> Education</li>
  </ol>
  <br/>

  <p>Local contacts that have affinity with or can added value to with one of these program areas are is
    highly appreciated.</p>

  <b>Communications</b>
  <p>To support communication and online media, the Burning Man Netherlands organization is looking for an LC that
    handles questions and "manages" responses to online media platforms, in close collaboration with the
    existing Communications team and other Regional Contacts and Project / Event Leads during and in
    preparation for Projects / Events year round.</p>

  <b>Additional Board Member</b>
  <p>The LC’s chosen as representatives will form the Burning Man Netherlands Program Committee. When a
    solid committee has been established and is fully functional, one of the LCs will be selected and
    proposed to take up a place on the Board of Burning Man Netherlands, as a full and equal Board
    Member for a period of two years. This member will function as a direct representative of the
    Dutch community at large within the Board. Applying to be an LC does not mean you also have to
    apply as a potential Board Member. </p>

  <b>An Important Distinction</b>
  <p>Local Contacts are not Regional Contacts (RCs) who are appointed and contracted by Burning Man
    Projects. A call out for a new RC will be initiated by BMP in 2019. Burning Man Netherlands will
    be involved in this process. A RC function is a function not a title and comes with a more
    specific set of requirements and expectations. For more information please visit
    https://regionals.burningman.org
  </p>

  <p>For more information please visit: <a href="https://regionals.burningman.org">regionals.burningman.org</a>
  </p>
</div>