<div class="row">
  <h1>Some Answers</h1>
  <br/>
  <ul>
    <li><b>What does the ArtJump grant cover?</b><br/>
    <p>The 2020 ArtJump grants are designed to specifically cover a fixed amount of transportation costs for existing art pieces.The grants will go towards artists that will take their art on tour through (their selection of happenings) in Europe.
    </p>
    <p>The artist will bring their work to Where the Sheep Sleep and at least one other event in Europe. These events can be burns, burning man inspired events, maker fairs or other
    </p>
    </li>
    <li>
    <b>How many art grants will be funded in 2020?</b><br/>
    <p>This year we plan to fund minimal 2 existing and maximal 6 art projects to events in Europe.
    </p></li>
    <li>
    <b>The grant</b><br/>
      <p>This year the total budget of 6000 euro is available for applicants.</p>
    <p>You can apply for a transportation grant with a maximum of 3000 euro. The grants will be awarded by an international jury panel.
    </p><p>Note for artists: Ask only what you need. The jury will take in account how your project budget is related to the overall project. A realistic budget will positively affect your chances of granting your project.
    </p></li>

    <li><b>Who’s the jury?</b><br/>
    <p>The international jury panel, that all have there heart and feet deep in the Burning Man communities, will have the honour to make the grant selection.
    </p>
      <p>Last years jury:</p>
      <ul class="bullet-list">
        <li>Bart Grob, chairman of the jury</li>
        <li>Hampus Lindblad, Borderland</li>
        <li>Ifat Golan, Art team and board member Midburn</li>
        <li>Marijntje Schook, Dutch artist</li>
        <li>Misa Rygrova, Meta Regional Committee Burningman</li>
      </ul>
    </li>
    <br/>
    <li><b>Who can apply?</b><br/>
      <b>Any artist</b>  (including performers) <b>can apply</b>.

      <p>The jury committee will judge your application on the following parameters:</p>
      <p>
    Parameters for art participation:</p>
      <ul class="bullet-list">
        <li>It MUST be an existing art piece (including performances).</li>
        <li>The art must already be in Europe.</li>
        <li>The art must be participatory. We are defining participatory as at least a few of the following:
       <ul class="bullet-list">
          <li>Art that is interactive.
          <li>Art that prompts the viewer to act.
          <li>Art that can be experienced in more ways than visually.
          <li>Art that prompts people to interact with one another.
          <li>Art that responds to participants and its environment.
          <li>Art that causes people to reflect on the larger community.
          <li>Art that challenges the viewers’ traditional perspective on art.
          <li>Art that belongs to the public and exists for the benefit of all.
        </ul></li>
        <li>The art will participate at Where the Sheep Sleep (25th of June until 29th of June 2020).</li>
        <li>To receive the art grant, the artist must define which events (up to 3 within one year/2020) you would like to bring your art to.</li>
        <li>You must have a practical transportation plan to and from the event(s). Remember, these are leave-no-trace events.</li>
        <li>Shipping, events tickets, any insurance and any other art-related logistics are the artists’ own responsibilities.</li>
      </ul>
      <p>
      To receive the art grant, the artist must define which events you would like to bring your art. You may submit up to three events with in 2020 (including Where The Sheep Sleep).
      </p>
      <p>
    You must have a practical transportation plan to and from the events (Upon registering you can download a template). Remember, these are leave-no-trace events. Shipping, events tickets, any insurance and any other art-related logistics are the artists’ own responsibilities. ArtJump grants only cover transportation costs.
      </p>

    <li><b>How to apply?</b><br/>
    <p>To apply for a grant, you must submit pictures and a written description of your interactive or participatory art and a description of your transportation plan to and from the event. Please note: you are responsible for securing your own entrance ticket to each event you plan on attending with your art. You can register here to create a user account and then create a proposal here.
    </p>
      <p>
    Please submit up to three pictures of your art once the proposal is created by editing your proposal on your personal page by clicking the 'Manage Images' button.
      </p></li>
    <li>
    <b>What’s the deadline for registering?</b><br/>
    <p>Applications are due March 31st, 2020 at 11:00 (GMT+1).
    </p>

    <p>Grant applicants will be informed by email and Grand winners are announced at the Art Jump Spring Gathering on April 13th, 2020 (easter).
    </p>
    </li>
    <li>
      <b>Jury review</b><br/>
    <p>After March 31st, when all applications are in. The Jury will have a chance to review the projects. Based on the parameters for participation, the jury will score each parameter for each project. The total score lists the projects. Separate form the artistic parameters the projects are scored on feasibility.
    </p>
    </li>
  </ul>
</div>