.me {

	.coin-image {
	  width: 40px; 
	}

	.coin-image-sm {
	  width: 20px; 
	}

  .panel-heading {
    background-color: $c-blue_green;
  }

  a {
    text-decoration: underline;
    color: $c-blue_green;
  }
}